<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Riwayat Transaksi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="transactions.length > 0">
    <ion-item
      button
      detail
      *ngFor="let transaction of transactions"
      [routerLink]="['/tabs/transaction-detail', transaction.id]">

      <ion-icon name="receipt-outline" slot="start" color="success"></ion-icon>

      <ion-label>
        <h2>Transaksi #{{ transaction.id }}</h2>
        <p>{{ transaction.date | date:'dd MMM yyyy, HH:mm' }}</p>
        <p>{{ transaction.items.length }} jenis produk</p>
      </ion-label>

      <ion-note slot="end">
        Rp{{ transaction.total | number:'1.0-0' }}
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="transactions.length === 0">
    <ion-card-content>
      Belum ada transaksi. Transaksi yang dikonfirmasi akan muncul di sini.
    </ion-card-content>
  </ion-card>
</ion-content>